@import "./variables.scss";



.container {
  display: grid;
  height: 100vh;
  overflow-y: scroll;
  grid-template-columns: 256px 1fr;
  background-color: #f9f9f9;
  grid-template-rows: 1fr;
  grid-template-areas:
    "sidenav header"
    "sidenav content"
  ;
}


.content-header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  margin-inline: 32px;
  align-items: center;
  height: 40px;
  margin-top: 104px;
}


.content {
  grid-area: content;
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 32px;
}

.content2 {
  grid-area: content;
  display: grid;
  gap: 32px;
  grid-template-columns: 2fr 2fr;
  margin: 32px;

}





.button-primary-sm {
  width: fit-content;
  height: 40px;
  padding-inline: 24px;
  color: white;
  background-color: $main-color;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;

  &:hover {
    background-color: $button-primary-hover
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:focus-visible {
    outline: 3px solid $main-focus;
    background-color: $button-primary-hover
  }

  &:active {
    transform: scale(.90);
  }
}


.button-outline-sm {
  width: fit-content;
  height: 40px;
  padding-inline: 24px;
  color: $main-color;
  border-color: $main-color;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;

  &:hover {
    color: white;
    background-color: $main-color;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:focus-visible {
    outline: 3px solid $main-focus;
    color: white;
    background-color: $main-color;
  }

  &:active {
    transform: scale(.90);
  }
}

.button-ghost-sm {
  width: fit-content;
  height: 40px;
  padding-inline: 24px;
  color: $main-color;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  &:hover {
    color: $main-color;
    background-color: #0080ff20;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &:focus-visible {
    outline: 3px solid $main-focus;
    color: white;
    background-color: $main-color;
  }
  &:active {
    transform: scale(.90);
  }
}

.button-link {
  width: fit-content;
  color: $main-color;
  font-size: 1rem;
  font-weight: 600;
  &:hover {
    color: $button-primary-hover;
    text-decoration: none;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &:focus-visible {
    outline: 3px solid $main-focus;
    color: white;
    background-color: $main-color;
  }
  &:active {
    transform: scale(.90);
  }
}



.icon-color {
  color: $secondary-color;
}




.input {
  border-radius: 8px;
  border: 1pt solid $stroke-default;
  background-color: transparent;
}


.input-search {
  min-width: 200px;
  border-radius: 8px;
  border: 1pt solid $stroke-default;
  background-color: transparent;
}




.font-weight-label {
  font-weight: 500;
}

.font-weight-button {
  font-weight: 700;
}





.icon-color {
  color: $icon-secondary;
}

.icon-color-search {
  color: $icon-tertiary;
}






body {
  color: #303030;
  overflow: hidden;
}


h1 {
  font-size: 3rem !important;
  font-weight: 500 !important;
}

h2 {
  font-size: 2.5rem !important;
  font-weight: 500 !important;
}

h3 {
  font-size: 2rem !important;
  font-weight: 600 !important;
}

h4 {
  font-size: 1.5rem !important;
  font-weight: 500 !important;
}

h5 {
  font-size: 1.3rem !important;
  font-weight: 500 !important;
}

h6 {
  font-size: 1.125rem !important;
  font-weight: 400 !important;
}

p {
  font-size: 1rem;
}










@media screen and (max-width: 1300px) {

  .content {
    grid-template-columns: 1fr 1fr;
  }
}




@media screen and (max-width: 768px) {

  .sidenav {
    height: 0;
    overflow: hidden;
    width: 0;
    padding-top: 0;
  }

  .content {
    grid-template-columns: 1fr 1fr;
  }

  .content2 {
    grid-template-columns: 1fr 1fr;
  }

  .container {
    overflow: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "nav"
      "header"
      "content"
    ;
  }

  .logo-bg {
    margin-right: 40px;
  }

  .nav-user-hide {
    width: 0;
    visibility: hidden;
  }

  nav {
    width: 95.9%;
    margin-left: 0;
  }

 
}