@import "./variables.scss";

body {
    color: $main-color;
}


h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 60px;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
}




/* NAV **************************************************/


.sidenav {
  height: 100%;
  width: 340px;
  position: fixed;
  overflow-y: scroll;
  padding-left: 40px;
  padding-top: 40px;

}




.menu-button {
  display: block;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;
  padding-left: 16px;
  margin-inline: 8px;
  font-weight: bold;
  list-style-type: none;
  margin-block: 4px;
  width: 260px;
}


.menu-button:hover {
  cursor: pointer;
  background-color: #0080ff30;
  border-radius: 8px;
}

.menu-button.router-link-active.router-link-exact-active {
  background-color: #0080ff;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}


.menu-title {
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 20px;
  margin-inline: 8px;
  padding-left: 16px;
  color: #a7a7a7;
  text-transform: uppercase;
}




/* CONTENT **************************************************/

.content {
  margin-left: 400px;
  padding-top: 140px;
  padding-left: 180px;
  overflow-y: auto;
}

.component-bg {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-top: 16px;
  margin-bottom: 48px;
  padding: 24px;
  border-width: 1px;
  border-color: #a7a7a770;
  border-radius: 8px;
  height: 100%;
}

.color-bg {
  background-color: #0080ff;
}

.color {
  color: #0080ff;
}






/* BUTTON **************************************************/


.button-default {
  color: white;
  background-color: #0080ff;
  padding: 16px 48px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  &:hover {
    background-color: #0266c9;
  }
}

.button-outline {
  color: #0080ff;
  border-color: #0080ff;
}

.button-outline:hover {
  color: white;
  background-color: #0080ff;
}

.button-ghost {
  color: #0080ff;
}

.button-ghost:hover {
  color: #0080ff;
  background-color: #0080ff20;
}

.button-link {
  color: #0080ff;
}

.button-link:hover {
  color: #0266c9;
}

.focus-remove:focus {
  outline: none;
  box-shadow: none;
}

.button-scale:active {
  transform: scale(.90);
}



/* CHECKBOX **************************************************/

.checked {
  background: #4273DE;
  color: #fff;
}

.checked::before {
  content: "✔";
}




/* INPUT **************************************************/

.font-weight-label {
  font-weight: 500;
}

.font-weight-button {
  font-weight: 700;
}





/* POPUPS **************************************************/



.modal-header-text {
  font-size: 1.6rem;
  padding-bottom: 24px;
}

.modal-close-button {
  margin: 12px;
}

.modal-footer {
  margin-top: 24px;
  margin-bottom: 8px;
}

.popover {
  border-width: 1px;
  border-radius: 4px;
  box-shadow: "lg";
}

.popover-content {
  padding: 8px;
  padding-right: 20px;
}

.popover-close-button {
  margin: 8px;
}

.popover-body {
  margin-right: 16px;
}

.popover-button {
  margin-top: 8px;
}

.popover-checkbox {
  margin: 12px;

}
