$main-color: #0080ff;
$secondary-color: #C3C9CC;

$sidenav-button-active: #0080ff25;
$button-primary-hover: #0266c9;
$button-secondary-hover: #566c8220;

$icon-primary: #909DB8;
$icon-secondary: #909DB870;

$stroke-default: #909DB850;

$background-primary: #ffffff;
$background-secondary: #f9f9f9;

$label-primary: #303030;
$label-secondary: #30303080;
$label-tertiary: #30303050;

$success: #3AC922;
$attention: #F6D523;
$error: #FF3B30;
$main-disabled: #1BBBEE50;
$main-hover: #135DCE;
$main-focus: #0080ff80;



